*{
    margin: 0;
    font-family: sans-serif;
}

table, th, td{
    border: solid black 2px;

}

header{
    /* background-color: red; */
    height: 100px; 
    padding: 18px;
    box-sizing: border-box;
    
    font-size: 180%;
    text-transform: uppercase;
    
}

.page-header{
    background-color: green;
    height: 50px;
    
    box-sizing: border-box;
    font-size: 120%;
}

.page-header ul li{
    display: inline-block;
    
    
    /* background-color: blue; */
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    margin-left: -6px;
}



.page-header ul li:hover{
    color: white;
    border: solid black 0px 2px;
    background-color: rgb(0, 92, 0);
    box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.281);
}



main{
     background-color: blue;
    display: inline-block;
    width: 60%;
    
}



aside{
    background-color: orange;
    width: 39%;
    margin-top: 0;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    height: 532px;
}

article{
    background-color: purple;
    
}

article h2{
    padding: 10px;
    font-size: 200%;
    margin-left: 10px;
}

h3{
    margin-left: 40px;
    
}

h4{
    text-align: center;
}

section{
    background-color: brown;
    padding: 10px;
    vertical-align: bottom;
    
}

footer{
    background-color: cornflowerblue;
    height: 200px;
    box-sizing: border-box;
    padding: 90px;
    font-size: 25px;
    font-weight: lighter;
}

.fact{
    display: inline-block;
    width: 200px;
    float: left;
    margin-right: 20px;
    align-items: baseline;
    vertical-align: bottom;
    
}

div{
    float: left;
    vertical-align: bottom;
    
}

