*{
    margin: 0;
    font-family: sans-serif;
}

table, th, td{
    border: solid black 2px;

}

header{
    /* background-color: red; */
    height: 100px;
    padding: 18px;
    box-sizing: border-box;
    
    font-size: 180%;
    text-transform: uppercase;
    
}

.page-header{
    /* background-color: green; */
    height: 50px;
    padding: 14px;
    box-sizing: border-box;
    font-size: 120%;
}

.page-header ul li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 2px;
}



.page-header ul li:hover{
    color: white;
    border-left: solid black 2px;
}



main{
    /* background-color: blue; */
    display: inline-block;
    width: 60%;
    
}



aside{
    /* background-color: orange; */
    display: inline-block;
    width: 39%;
    
    margin-top: 0;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    height: 532px;
}

article{
    /* background-color: purple; */
}

article h2{
    padding: 10px;
    font-size: 200%;
    margin-left: 10px;
}

h3{
    margin-left: 40px;
    
}

h4{
    margin-left: 60px;
}

section{
    /* background-color: brown; */
    padding: 10px;
}

footer{
    /* background-color: cornflowerblue; */
    height: 200px;
    box-sizing: border-box;
    padding: 90px;
    font-size: 25px;
    font-weight: lighter;
}
